.button-create {
    text-transform: uppercase;
    font-weight: 500;
}

.title {
    margin-bottom: 0;
    letter-spacing: 8px;

    background-color: rgb(34, 193, 195);
    background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}